#signUpCard{
   padding: 80px;
//    background-color: black;
   width: 100%;
   height: 900px;
//   background-image: url('./marco-mons-3h5SIlxnOXA-unsplash.jpg');
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
}