.card-body{
   width: 100% !important;
   
}
.signCard{
   padding: 80px;
   background-color: #333;
   width: 100%;
   min-height: 80vh;
   height: fit-content;
   .card{
      width: 50% !important;
   }
   input,select{
      background-color: #333;
      color: #aaa;
      height: 4rem;
      font-size: 1.5rem;
      &:focus{
         color: #aaa;
         background-color: #333;
      }
   }
   button{
      height: 4rem;
      width: 50%;
   }
}