.signCard{
    display: grid;
    place-items: center;
    height: 100vh;
}
.signCard .card {
    width: fit-content;
    text-align: center;
    background: rgb(255 253 253);
    .card-body{
        width: fit-content;
        form{
            width: fit-content;       
        }
    }
}
.signCard input, .signCard select {
    background-color: #333;
    color: #aaa;
    height: 52px;
    font-size: 1.5rem;
    width: 27rem;
    text-align: center;
    border-radius: 25px;
}
.card-title {
    margin-bottom: 0.75rem;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
}
.btn-success{
    background: #00cec8;
    height: 40px;
    width: 158px;
    border-radius: 28px;
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
}

img.login{
    position: absolute;
    top: 0;
    left: 50%;
    width: 52px;
    z-index: 1;
    border-radius: 50%;
    transform: translate(-50%) translatey(-50%);
}