.main-dev{
  padding: 100px;
    width: 100%;
    height: 100%;
    background-color: #333;
}

.image-area {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.img-wrapper {
  width: 220px;
  height: 300px;
  margin: 10px;
  position: relative;
  overflow: hidden;
}
.img-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 180%;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  z-index: 1;
  transform: skew(45deg);
  transition: 0.5s;
  overflow: hidden; /* Hide scrollbars */
}
.img-wrapper:hover:before {
  left: -180%;
}
.img-wrapper img {
  width: 220px;
  height: 300px;
  filter: grayscale(100%);
  transition: 2s;
}
.img-wrapper:hover img {
  filter: grayscale(0%);
  transform: scale(1.1);
}
.img-wrapper h2 {
    font-size: 20px;
  background: tomato;
  font-family: "MontserratAlternates-Light";
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: perspective(400px) rotateY(90deg);
  transform-origin: right;
  transition: 1s;
}
.img-wrapper:hover h2 {
  transform: perspective(400px) rotateY(0deg);
}
.img-wrapper ul {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  background: rgba(255, 255, 255, 0);
}
.img-wrapper ul li {
  background: #333;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  transform: perspective(800px) rotateY(90deg);
  transition: 0.5s;
  transform-origin: left;
  overflow: hidden; /* Hide scrollbars */
}
.img-wrapper:hover ul li {
  transform: perspective(800px) rotateY(0deg);
}
.img-wrapper:hover ul li:nth-child(1) {
  transition-delay: 0.2s;
}
.img-wrapper:hover ul li:nth-child(2) {
  transition-delay: 0.6s;
}
.img-wrapper:hover ul li:nth-child(3) {
  transition-delay: 0.8s;
}
.img-wrapper:hover ul li:nth-child(4) {
  transition-delay: 1s;
}
.img-wrapper ul li a {
  color: tomato;
  background: rgba(255, 255, 255, 0);
}

.logo2 {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: "MontserratAlternates-Light";
}
.logo2 h1 {
  font-style: italic;
  font-size: xx-large;
  letter-spacing: 3px;
  font-weight: bolder;
  font-size: 50px;
  color: tomato;
}
.logo2 small {
  font-size: smaller;
  font-size: 25px;
  color: black;
  letter-spacing: 1px;
}
