#procedures{
    width:100vw;
    height: fit-content !important;
    min-height: 75vh;
    padding-top: 9rem;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-bottom: 5rem;
    display: grid;
    h1{
        text-align: center;
        margin-bottom: 3rem;
    }
    .table{
        margin-top: 5rem;
    }
    button {
        background: #00cec8;
        border-radius: 28px;
        border: none;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            color: #fff;
            background-color: #b4e69e;
        }
    }
}
.tab-pane.active{
    margin-top: 1rem;
    padding: 0 1rem;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30vh;
    gap:1rem;
}