.insurance  {
    display: none;
}

.insurance +label {
    z-index: 10;
    margin: 0 10px 10px 0;
    position: relative;
    color: #ced4da;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    font-weight: bold;
    background-color: #ffffff;
    border: 2px solid #ced4da;
    cursor: pointer;
    transition: all 200ms ease;
}

.insurance:checked+label {
    color: #495057;
    background-color: #ced4da;
}

.insurance+label {
    padding: 5px 20px;
    border-radius: 10px;
}