
.nav-bar {
    width: 100;
    height: 15vh;
    display: flex;
    padding-left: 5vw;
    padding-right: 5vw;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 10vw;
        position: relative;
        a{
            position: relative;
            display: flex;
            align-items: center;
            text-decoration: none;
            &:visited{
                color: white;
            }
            h3{
                text-decoration: none;
                font-family: 'Engagement-Regular';
                font-size: 3rem;
                color: tomato;
            }
            img {
                width: 50%;
                height: 50%;
            }
        }
    }
    
    nav {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-basis: 260px;
        height: 15vh;
        ul {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-evenly;
            align-items: flex-end;
            height: 50%;
            li {
                display: grid;
                place-items:center;
                height: 100%;
                border-bottom: 3px solid tomato;
                padding-left: 5px;
                padding-right: 5px;
                transition: ease 200ms;

                &:hover{
                    background-color: #ddd;
                    border-bottom: 3px solid #ccc;
                    border-radius: 10px;
                    border-bottom-left-radius:0 ;
                    border-bottom-right-radius:0 ;
                }
                list-style: none;
                
                a {
                    height: 100%;
                    font-family: 'MontserratAlternates-Light';
                    text-decoration: none;
                    color: tomato;
                }
            }
        }
    }
    
    .hamburger {
        width: 30px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        cursor: pointer;
        
        span {
            width: 100%;
            height: 0.1vh;
            background-color: tomato;
        }
    }
}

.head {
    height: 85vh;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 6.5vw;
        font-family: 'RubikMonoOne-Regular';
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        color:transparent;
        text-shadow: 5px 5px 25px rgba(133, 51, 36, 0.555);
        letter-spacing: 5px;
        margin-bottom: 2rem;
        span {
            position: relative;
            
            &::before {
                content: "";
                bottom: -2vh;
                position: absolute;
                width: 100%;
                height: 2vh;
                border-top: 4px solid white;
                border-top-left-radius: 49%;
                border-top-right-radius: 154%;
            }
        }
    }
    
    h4 {
        text-shadow: 3px 1px 3px rgba(42, 44, 39, 0.959);
        font-size: medium;
        font-family: 'MontserratAlternates-Light';
        color: white;
        font-weight: bolder;
        text-align: center;
        letter-spacing: 10px;
        span{
            background: tomato;
            border-radius: 5vw;
            padding-left: 2vh;
        }
    }
    .head-btns{
        display: flex;
        margin-top: 2rem;
        justify-content: space-between;
        width: 40vw;
        button{
            width: 15vw;
            cursor: pointer;
            height: 7vh;
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.438);
            color: white;
            font-size: 1.5rem;
            transition: ease 200ms;
            &:last-child{
                border-radius: 25px;
                border: none;
                background-color: #2a7bb3;
                &:hover{
                    background-color: #256796;
                    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.438);   
                }
                &:active{
                    background-color: #4885b1;
                    box-shadow: inset 0 0 3px black;
                }
            }
            &:first-child{
                border-radius: 25px;
                border: 1px solid tomato ;
                box-shadow: none;
                background: transparent;
                &:hover{
                    background-color: rgb(167, 166, 166);
                    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.438);
                }
                &:active{
                    background-color: rgb(211, 209, 209);
                    box-shadow: inset 0 0 3px black;
                }
            }
        }
    }
}
