$main_color:#00cec8;

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(to top right, $main-color,#00cec7c7,rgba(255, 255, 255, 0.4), #fcfcfc30);
    height: fit-content;
    padding-top: 5rem;
    width: 100vw;
    align-items: center;
    .copy {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        background: rgba(255, 255, 255, 0.541);
        width: fit-content;
        border-radius: 20px;
        padding: 0 5px;
        p {
            font-size: smaller;
            color: #555;
            margin: 0;
            padding: 9px;
            font-family: monospace;


        }

        img {
            background: white;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            border: 2px solid $main_color;
        }
    }

    ul {
        list-style-type: none;
        width: 40%;
        text-align: center;
        li {
            color: tomato;
            padding: 7px;
            .links{
                background-color: transparent;
                color: rgb(170, 68, 68);
                &:hover {
                    color: white;
                    background: $main_color;
                    border-radius: 5px;
                    padding: 0 2px;
                }
            }
        }
    }

    .uls {
        width: 100%;
        display: inline-flex;
        height: 5rem;
    }

    .icons {
        color: rgb(170, 68, 68);
        width: 100%;
        text-align: center;
        .MuiSvgIcon-root {
            text-decoration: none;
            color: rgb(170, 68, 68);
            cursor: pointer;
            &:hover {
                color: red;
                text-decoration: none;
            }
        }
        a{
            &:hover{
                text-decoration: none;
            }
        }
    }

}

html{
    width: 100vw;
    overflow-x: hidden;
}